  @page "/feed_details"
 <div class="main__item__right">
     <div class="main__item__right__feed">
         <div class="item__details">
           <div class="add__item__header pt-3">
              <a href="/feedback"><img src="arrow-left.svg"></a>
             <h3 class="add__item__h3">Feedback Details</h3>
           </div>
          <div class="details">
            <div class="vertical__table table">
              <div class="details__table row">
                  <div class="col py-2">Date</div>
                  <div class="col py-2">04/03/2021 18:00 GMT</div>
              </div>
              <hr>
              <div class="details__table row" >
                  <div class="col py-2">Type</div>
                  <div class="col py-2">Comments</div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Email</div>
                  <div class="col py-2">example@email.com</div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Rating</div>
                  <div class="col py-2">5</div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Full name</div>
                  <div class="col py-2"></div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Message</div>
                  <div class="col py-2">Good job</div>
              </div>
              <hr>
          </div>
          </div>
        </div>
        </div>
     </div>
