<footer class="footer">
    <div class="copyright mx-5">
       <small class="copyright__item">Software Version</small>
    </div>
    <div class="copyright mx-5">
       <small class="copyright__item"></small>
    </div>
</footer>