 @page "/sales"
 <div class="main__item__right">
     <div class="all__email__sms">
        <div class="all__sus pt-3">
            <small class="ps-4">GHS</small>
            <h4 class="ps-4">500,000.00</h4>
            <small class="ps-4">Total Sales</small>
        </div>
     </div>
     <div class="main__item__right__pay">
        <div class="table__sec">
            <table class="table">
                <tbody>
                <tr>
                  <td class="py-3" scope="col">Time</td>
                  <td class="py-3"  scope="col">Transaction</td>
                  <td class="py-3"  scope="col" colspan="2">Amount</td>
                </tr>
                <tr>
                  <td class="py-4">04/03/2021 18:00 GMT</td>
                  <td class="py-4">Laboratory</td>
                  <td class="py-4">50.00</td>
                  <td>
                  <!-- Example single danger button -->
                   <div class="btn-group">
                     <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                       <img class="three_dots"  src="three-dots.svg">
                     </button>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">View</a></li>
                       <li><a class="dropdown-item" href="#">Update</a></li>
                       <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Delete</a></li>
                     </ul>
                   </div>
                 </td>
                </tr>
                <tr>
                    <td class="py-4">04/03/2021 18:00 GMT</td>
                    <td class="py-4">Online Consultation</td>
                    <td class="py-4">150.00</td>
                    <td>
                         <!-- Example single danger button -->
                       <div class="btn-group">
                         <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                           <img class="three_dots"  src="three-dots.svg">
                         </button>
                         <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="#">View</a></li>
                           <li><a class="dropdown-item" href="#">Update</a></li>
                           <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Delete</a></li>
                         </ul>
                       </div>
                     </td>
                </tr>
              </tbody>
            </table>
       </div>
       <div class="table__footer">
          <div class="table__footer_left">
            <div class="pagination">
             <a href="#" class="pag-icon">&laquo;</a>
             <a href="#" class="pag-icon me-2"> &lsaquo;</a>
             <a href="#" class="active pag-num">1</a>
             <a href="#" class="pag-num">2</a>
             <a href="#" class="pag-num">3</a>
             <a href="#" class="pag-num">4</a>
             <a href="#" class="pag-num">5</a>
             <a href="#" class="pag-icon ms-2">&rsaquo;</a>
             <a href="#" class="pag-icon">&raquo;</a>
           </div>
          </div>
          <div class="table__footer_right">
            <!-- Example split danger button -->
           <div class="btn-group px-2">
             <button type="button" class="btn rec-num">10</button>
             <button type="button" class="btn rec-num dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
               <span class="visually-hidden">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Action</a></li>
               <li><a class="dropdown-item" href="#">Another action</a></li>
               <li><a class="dropdown-item" href="#">Something else here</a></li>
               <li><hr class="dropdown-divider"></li>
               <li><a class="dropdown-item" href="#">Separated link</a></li>
             </ul>
           </div>
            <span class="mt-2"><small>Displaying 10 out of 100 records</small></span>
          </div>
       </div>
     </div>
 </div>