  @page "/revenue_details"
 <div class="main__item__right">
     <div class="main__item__right__feed">
         <div class="item__details">
           <div class="add__item__header pt-3">
              <a href="/feedback"><img src="arrow-left.svg"></a>
             <h3 class="add__item__h3">Revenue Details</h3>
           </div>
          <div class="details">
            <div class="vertical__table table">
              <div class="details__table row">
                  <div class="col py-2">Time</div>
                  <div class="col py-2">04/03/2021 18:00 GMT</div>
              </div>
              <hr>
              <div class="details__table row" >
                  <div class="col py-2">Transation</div>
                  <div class="col py-2">Laboratory</div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Transation Type</div>
                  <div class="col py-2">Payments</div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Amount</div>
                  <div class="col py-2">150.00</div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Payment No</div>
                  <div class="col py-2">100101</div>
              </div>
              <hr>
              <div class="details__table row">
                  <div class="col py-2" >Balance due</div>
                  <div class="col py-2">200.00</div>
              </div>
              <hr>
          </div>
          </div>
        </div>
        </div>
     </div>
